spring.application.name=Contact-Management-API

# Database connection
spring.datasource.url=jdbc:mysql://localhost:3306/restful_api_db
spring.datasource.username=root
spring.datasource.password=

# JPA settings
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
